* {
  font-family:'Roboto', '黑體-繁', '微軟正黑體', sans-serif;
}
body {
  background: #EEEEEE url('../img/bg.png') repeat center center;
  color: #3A4750;
}
h1 {
  font-family:'Roboto', '黑體-繁', '微軟正黑體', sans-serif !important;
  color: #3A4750;
}
th, td, .item {
  font-family:'Roboto', '黑體-繁', '微軟正黑體', sans-serif;
  color: #3A4750;
}
